.selected {
  font-weight: bold;
}

li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

ul {
  padding-left: 0;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

article {
  display: block;
  margin: 0 auto;
}

.timeclock {
  font-size: 40px;
  font-family: sans-serif;
  width: 500px;
  float: none;
  display: block;
  margin: 40px auto;
}

.weather {
  display: block;
  font-size: 20px;
}
