body {
  padding: 40px;
  font-family: monospace;
}

#root {
  background-color: #EEE;
  padding: 15px;
  height: 500px;
}


.selected {
  font-weight: bold;
}

li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

ul {
  padding-left: 0;
  margin: auto;
  width: 600px;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

article {
  display: block;
  margin: 0 auto;
}

.timeclock {
  font-size: 40px;
  font-family: sans-serif;
  width: 500px;
  float: none;
  display: block;
  margin: 40px auto;
}

.weather {
  display: block;
  font-size: 20px;
}

.nameStuff{
  color: #006400;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 2s ease;
}

.nameStuff:hover {
  background-color: black;
  padding: 5px;
  color: #0F0;
  border-radius: 5px;
}



.auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
   transform: rotateZ(1080deg);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
 transform: rotateZ (0deg);
   transition: opacity 500ms, transform 500ms;

 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }
